{% extends "base.html" %}
{% block title %} {{ chapters[7][0] }} {% endblock %}
{% from  "_side_bar_list.html" import render_side_bar_list%}
{% from  "_post_details.html" import render_post_details%}
{% block content %}


{{ render_side_bar_list(chapters) }}
    <div class="col-md-9">
</div>

{#   {% for n in books %}

       {% if   loop.index !=1 %}

        <div class="col-md-3">

        </div>
      {% else %}
            {{ render_side_bar_list(chapters) }}
       {% endif %}
    <div class="col-md-9">
        <div class="col-md-3">
            <a href= {{ n['AmazonURL'] }} class="thumbnail">
        <img src="{{ url_for('static', filename ='') }}{{n['imgURL']}}" alt="..." height="171" width="180">
        </a>
        </div>
        <div class="col-md-9">
        <div class="media-body">
            <h4 class="media-heading">{{ n['Name'] }}</h4>

            {{ n['Descriptions'] }}
        </div>
        </div>
    </div>

{% endfor %}

    </div>
    </div>#}

{% endblock %}