/**
 * Created by Azad on 31-Mar-15.
 */

<div ng-app="myApp" ng-controller="customersCtrl">

<ul>
  <li ng-repeat="x in names">
    {[ x.Name + ', ' + x.Country  ]}

  </li>
</ul>

</div>
<script
src="{{ url_for('static', filename =  'angular.min.js') }}">
</script>


<script>
var app = angular.module('myApp', []);

app.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[');
  $interpolateProvider.endSymbol(']}');
}]);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://www.w3schools.com/angular/customers.php")
    .success(function(response) {$scope.names = response.records;});
});
</script>