{% extends "base.html" %}
{% from  "ChoseCategoryExam.html" import render_checkBox%}
{% block content %}
<body>
    <div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			  <br>
    <form method="post" action="{{ url_for('Exam') }}" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ render_checkBox(english_categories) }}
        <button type="submit"  value=Register class="btn pull-right">Start</button>
    </form>
    </div>
    <div class="col-md-4">


    </div>
    </div>



</body>
{% endblock %}