{% extends "base.html" %}
{% block content %}
        <!-- /.row -->


{% from "product_header.html" import render_field %}
<!-- !-->
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8">
    <div class="col-lg-4">

    {{ render_field (prduc) }}

</div>
<div class="col-lg-2">
</div>
</div>

<div class="row">

    <div class="col-lg-11">

        <h3>
         <p class="text-warning">
                <strong class="alert-link">Features:</strong>
        </p>
        </h3>
        <br> </br>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#" class="list-group-item">UART: </a>

          </li>
          <li class="list-group-item">
            <a href="#" class="list-group-item">USB Support:</a>

          </li>
          <li class="list-group-item">
            <a href="#" class="list-group-item">On air FW update:</a>

          </li>
          <li class="list-group-item">
            <a href="#" class="list-group-item">SW for user PC:</a>

          </li>

          <li class="list-group-item">
            <a href="#" class="list-group-item">Android app:</a>

          </li>
          </ul>

    </div>
</div>
<div class="row">

    <div class="col-lg-4">
    <h3>
     <p class="text-warning">
            <strong class="alert-link">Documentations:</strong>
    </p>
    </h3>
    <div class="list-group">
      <a href="#" class="list-group-item">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
    </div>
   <div class="col-lg-4">
    <h3>
     <p class="text-warning">
            <strong class="alert-link">YouTube:</strong>
    </p>
    </h3>
    <div class="list-group">
      <a href="#" class="list-group-item">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
    </div>
    <div class="col-lg-4">
        <h3>
         <p class="text-warning">
                <strong class="alert-link">Source Code:</strong>
        </p>
        </h3>
        <div class="list-group">
          <a href="#" class="list-group-item">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>

        </div>
    </div>


</div>
<div class="row">
    <h3>
     <p class="text-warning">
            <strong class="alert-link">Reviews:</strong>
    </p>
    </h3>



           <li class="list-group-item">
        <div class="list-group">

            <p class="list-group-item-text">This is very nice product</p>
            <address>
            <small>by</small>
              <strong>Jamil</strong>
              <small>at</small>
              <small>12.05.15</small>

            </address>

        </div>
        </li>
        <li class="list-group-item">
          <div class="list-group">

            <p class="list-group-item-text">This is very bad product</p>
            <address>
            <small>by</small>
              <strong>Hasan</strong>
              <small>at</small>
              <small>12.05.15</small>

            </address>

        </div>
        </li>
        <li class="list-group-item">
          <div class="list-group">

            <p class="list-group-item-text">This  product</p>
            <address>
            <small>by</small>
              <strong>Kamil</strong>
              <small>at</small>
              <small>12.05.15</small>

            </address>

        </div>
        </li>




</div>
{% endblock %}
