{% macro render_field(field) %}

  
    <img src="{{ url_for('static', filename =  field.product_name.lower())+'.jpg' }}"  class="img-rounded">
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">

        <h3>
        <strong class="alert-link">{{ field.product_name }}</strong>

        </h3>
        <h3>
         <p>

            <strong class="alert-danger">BDT {{ field.price }}</strong>
        </p>
        </h3>

        <h3>
         {% if field.amount>0 %}
            <p class="text-success">
            <strong >In Stock {{ field.amount }}</strong>

            </p>
         {% else %}
             <p class="text-danger">
            <strong >Out of stock </strong>

            </p>
         {% endif %}
       </h3>

    </div>
  
{% endmacro %}