{% extends "base.html" %}
{% block content %}
{#<div class="layer1">#}
{#	<ul class="pagination">#}
{#		<li class="disabled"><a href="#">&laquo;</a></li>#}
{#		<li class="active"><a href="#">1</a></li>#}
{#		<li><a href="#">2</a></li>#}
{#		<li><a href="#">3</a></li>#}
{#		<li><a href="#">4</a></li>#}
{#		<li><a href="#">5</a></li>#}
{#		<li><a href="#">&raquo;</a></li>#}
{#	</ul>#}
{#</div>#}


    <div class="col-lg-12">
        <div class="col-md-3">

{#            <ul class="nav nav-list">#}
{#            <li class="nav-header">List header</li>#}
{#            <li class="active"><a href="#">Home</a></li>#}
{#            <li><a href="#">Library</a></li>#}
{#        </ul>#}
{#        {% if question_category %}#}
{#                <h1>Category</h1>#}
{#                <form action="{{ url_for('Category') }}" method="post">#}
{#                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />#}
{#                    {% for category in question_category %}#}
{#                      <input type="checkbox" id="category" name="category" value={{ category }}> {{ category }}<br>#}
{#                    {% endfor %}#}
{##}
{#                  <input type="submit" value="Submit">#}
{#                </form>#}
{##}
{#         {% else %}#}
{#                <h1>TIME</h1>#}
{#        {% endif %}#}

        </div>


        <div class="col-md-6">

            <div class="question">
	<strong>Q{{ question.questionID }}.</strong>{{ question.description }}
</div>

    <form method="post" action='/submit'>

        <input type="hidden" name="questionID" value={{ question.questionID }} />
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="options">
	<div class="radio">
		<label>
			<input type="radio" name="option1" id="optionsRadios1" value=1>
				{{ question.option1 }}
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="option1" id="optionsRadios2" value=2>
				{{ question.option2 }}
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="option1" id="optionsRadios3" value=3>
				{{ question.option3 }}
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="option1" id="optionsRadios4" value=4>
				 {{ question.option4 }}
		</label>
	</div>
            </div>
         <button type="submit"  value=ans class="btn pull-right">Next</button>

    </form>
</div>

    <div class="col-md-3">



    </div>
    </div>
{% endblock %}