{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

    <body xmlns="http://www.w3.org/1999/html">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			  <br>

                <form method="post" action="{{ url_for('index') }}">
                {{ form.csrf_token}}
                <div class="form-group">
						<label for="exampleInputName2">Email</label>
						<input type="text" class="form-control" name="email" placeholder="Email">
						{{ render_field(form.email) }}


					</div>
{##}
{#                  <div class="form-group">#}
{##}
{#						<input type="text" class="form-control" name="category" placeholder="category">#}
{#						{{ render_field(form.category) }}#}
{##}
{##}
{#					</div>#}
{##}
{#                 <div class="form-group">#}
{#						<input type="text" class="form-control" name="description" placeholder="description">#}
{#						{{ render_field(form.description) }}#}
{##}
{##}
{#					</div>#}
{##}
{##}
{##}
{#                    <div class="form-group">#}
{##}
{#						<input type="text" class="form-control" name="option1" placeholder="option1">#}
{#						{{ render_field(form.option1) }}#}
{##}
{##}
{#					</div>#}
{#                    <div class="form-group">#}
{##}
{#						<input type="text" class="form-control" name="option2" placeholder="option2">#}
{#						{{ render_field(form.option2) }}#}
{##}
{##}
{#					</div>#}
{##}
{#                    <div class="form-group">#}
{##}
{#						<input type="text" class="form-control" name="option3" placeholder="option3">#}
{#						{{ render_field(form.option3) }}#}
{##}
{##}
{#					</div>#}
{##}
{##}
{#                    <div class="form-group">#}
{##}
{#						<input type="text" class="form-control" name="option4" placeholder="option4">#}
{#						{{ render_field(form.option4) }}#}
{##}
{##}
{#					</div>#}
{##}
{#                    <div class="form-group">#}
{##}
{#						<input type="text" class="form-control" name="correctAnswer" placeholder="correctAnswer">#}
{#						{{ render_field(form.correctAnswer) }}#}
{##}
{##}
{#					</div>#}





					{% if error %}
						
						 <div class="alert alert-danger" role="alert"><li>{{ error }}</li></div>
						
					{% endif %}
					<button type="submit"  value=Register class="btn pull-right">Submit</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>

	</body>
{% endblock %}
